.bg-image{
  background-image: url(../../assets/bd-black.png);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.bg-opacity{
  background-color: black;
  position: absolute;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 2;
}